<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" debug="false">
  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[%4p] [%d{ISO8601}] [%t] %c{1}: %m%n</pattern>
    </encoder>
  </appender>

  <logger name="org.fusesource.scalate.support" level="INFO"/>
  <logger name="org.fusesource.scalate.mustache" level="INFO"/>
  <logger name="org.fusesource.scalate.layout" level="INFO"/>
  <logger name="org.fusesource.scalate.util" level="INFO"/>
  <logger name="org.fusesource.scalate" level="INFO"/>
  <logger name="org.fusesource.scalate.TemplateEngine" level="INFO"/>

  <!-- <logger name="org.fusesource.scalate.TemplateEngine" level="OFF"/> -->

  <root level="INFO">
    <appender-ref ref="stdout"/>
  </root>
</configuration>

